@model IEnumerable<Domain.Models.Restaurant>

@{
    ViewData["Title"] = "My Restaurants";
}

<h2>My Restaurants</h2>

@if (!Model.Any())
{
    <p>You don't own any restaurants yet.</p>
}
else
{
    <ul>
        @foreach (var r in Model)
        {
            <li>
                <a asp-action="Index" asp-route-restaurantId="@r.Id">
                    @r.Name
                </a>
            </li>
        }
    </ul>
}
